.skills-section .open-block .slide ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills-section {
  background: var(--bg-color-03);
  padding: 30px 0;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color);
}
.skills-section .title-block {
  margin: 0 0 50px;
}
.skills-section .open-block:not(:last-child) {
  margin-bottom: 10px;
}
.skills-section .open-block .opener {
  background: var(--bg-color-02);
  padding: 15px;
  font-size: 20px;
  line-height: 1.08;
  font-weight: 700;
  color: var(--purple);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  cursor: pointer;
}
.skills-section .open-block .opener:after {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
  content: "\e901";
  font-size: 24px;
  line-height: 1;
  font-family: "icomoon";
  color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-section .open-block .slide {
  transition: border-color 0.2s ease-in-out;
  background: var(--bg-color-02);
  padding: 15px;
  border-top: 1px solid var(--bg-color-02);
}
.skills-section .open-block .slide ul li {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.skills-section .open-block .slide ul li:not(:last-child) {
  margin: 0 0 15px;
}
.skills-section .open-block .slide ul li:before {
  width: 4px;
  height: 4px;
  content: "";
  background: var(--text-color);
  display: block;
  border-radius: 100%;
  min-width: 4px;
  margin-top: 2px;
}
.skills-section .open-block.active .opener:after {
  transform: rotate(-180deg);
}
.skills-section .open-block.active .slide {
  border-color: var(--bg-color-03);
}
@media (min-width: 480px) {
  .skills-section .open-block .opener {
    padding: 20px;
    font-size: 24px;
  }
  .skills-section .open-block .slide {
    padding: 20px;
  }
  .skills-section .open-block .slide ul li:not(:last-child) {
    margin: 0 0 20px;
  }
}
@media (min-width: 768px) {
  .skills-section {
    padding: 50px 0;
  }
}
@media (min-width: 1024px) {
  .skills-section {
    padding: 130px 0;
    font-size: 24px;
  }
  .skills-section .title-block {
    margin: 0 0 100px;
  }
  .skills-section .open-block .opener {
    padding: 24px 36px 28px;
    font-size: 38px;
  }
  .skills-section .open-block .opener:after {
    width: 41px;
    height: 24px;
    font-size: 40px;
  }
  .skills-section .open-block .slide {
    padding: 30px 45px 28px;
  }
  .skills-section .open-block .slide ul li {
    gap: 0 18px;
  }
}